.emacs.desktop.lock
/.org-id-locations
/bookmarks
/custom.el
/emacs-custom-*
/indiebrain-emacs.el
/package-quickstart.el
/projects
/recentf
/savehist
/saveplace
abbrevs
ac-comphist.dat
auto-save-list/*
autosaves
backup
basic-init.el
configuration.el
desktop
elfeed/*
elpa/*
feeds.el.gpg
forge-database.sqlite
history
ido.last
network-security.data
projectile-bookmarks.eld
projectile.cache
request/
session*
tramp
transient*
url*
var/*
