**/*.elc
**/.lsp-session*
.emacs.desktop.lock
/.org-id-locations
/bookmarks
/custom.el
/eln-cache*
/emacs-custom-*
/eshell
/indiebrain-emacs.el
/multisession
/package-quickstart.el
/projects
/recentf
/savehist
/saveplace
/tree-sitter
abbrevs
ac-comphist.dat
auto-save-list/*
autosaves
backup
basic-init.el
configuration.el
cursory-latest-state.eld
desktop
elfeed/*
elpa/*
feeds.el.gpg
fontaine-latest-state.eld
forge-database*.sqlite
history
ido.last
indiebrain-emacs-post-custom.el
indiebrain-emacs-pre-custom.el
network-security.data
org-persist/
org-roam.db
projectile-bookmarks.eld
projectile.cache
projects.eld
request/
session*
tramp
transient*
url*
user-emacs.el
var/*
