.emacs.desktop.lock
/.org-id-locations
/bookmarks.eld
/custom.el
/eln-cache*
/ede-projects.el
/eln-cache*
/emacs-custom-*
/eshell
/indiebrain-emacs.el
/multisession
/package-quickstart.el
/projects
/recentf
/savehist
/saveplace
abbrevs
ac-comphist.dat
auto-save-list/*
autosaves
backup
basic-init.el
bookmarks.eld
configuration.el
cursory-latest-state.eld
desktop
ede-projects.el
elfeed/*
elpa/*
feeds.el.gpg
fontaine-latest-state.eld
forge-database.sqlite
history
ido.last
indiebrain-emacs-post-custom.el
indiebrain-emacs-pre-custom.el
network-security.data
org-roam.db
projectile-bookmarks.eld
projectile.cache
request/
session*
tramp
transient*
url*
user-emacs.el
var/*
