[diff]
    algorithm = patience

[core]
    commitGraph = true
    excludesfile = ~/.gitignore_global
    fsmonitor = true
    untrackedcache = true

[remote "origin"]
    prune = true
    tagopt = --no-tags

[color]
    ui = true

[alias]
    cb  = checkout -b
    co  = checkout
    db  = branch -d
    rclone = clone --recursive

[commit]
    gpgSign = true

[gc]
    writeCommitGraph = true

[gpg]
    program=/usr/local/bin/gpg

[clean]
    requireforce = false

[push]
    default = simple

[feature]
    manyFiles = true

[include]
    path = .gitconfig.local
