[user]
  name = Aaron Kuehler
  email = aaron.kuehler@gmail.com
[core]
  excludesfile = ~/.gitignore
[color]
  ui = true
[alias]
  co  = checkout
  cb  = checkout -b
  db  = branch -d
  rclone = clone --recursive
[clean]
  requireForce = false
