[user]
	name = Aaron Kuehler
	email = aaron.kuehler@gmail.com
[core]
	editor = emacs
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	co  = checkout
	cb  = checkout -b
	crb = checkout --track -b
	db  = branch -d
	rclone = clone --recursive
