[user]
  name = Aaron Kuehler
  email = aaron.kuehler@gmail.com
[core]
  excludesfile = ~/.gitignore
  editor = $GIT_EDITOR
[color]
  ui = true
[alias]
  co  = checkout
  cb  = checkout -b
  db  = branch -d
  rclone = clone --recursive
[clean]
  requireForce = false
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
